extends layout

//This page contains pictures of the items in a person's cart, and a button to check out
block content
  h1 #{pageText}
  if(typeof cart !== "undefined")
    div.container
      each item in cart
        div.item
          div.images
            img(src=item.image, alt="alternate" style='width:100%')
          h3.id
            | Product ID: #{item.id}, Quantity: #{item.qty}
    h3#center Cart Total: $#{total}.00
    div#box2
        form(action = '/cart/checkoutinfo' method = "GET")
            button.button-submit(type = "Submit") Checkout
   else
      p Empty Cart


        