extends layout

block content
  div.container
    each product in products
      div.product
        div.images
          img(src=product.p_image alt=product.p_description style='width:100%')
        h2.product-name
          | #{product.p_name} 
        h3.product-price
          | $#{product.p_price}
        a(href=`/cart/add/${product.p_id}${product.p_image}`)
          | Add to cart